@use "index" as *;

table {
  border-spacing: 0;
  border-collapse: collapse;
  text-indent: 0;
  margin-right: -100px;
}

td {
  margin: 0;
  padding: 0;
}

.vertical {
  color: white;
  transform: rotate(-90deg);
  text-align: justify;
  font-size: 64px;
  text-align-last: justify;
  white-space: nowrap;
  padding-top: 85px;
  padding-bottom: 20px;
  transition: all 125ms ease-in-out;
}

.title {
  color: white;
  font-size: 70px;
  font-weight: 700;
  vertical-align: top;
  transition: font-size 125ms ease-in-out;
}

.subtitle {
  color: $color_primary2;
  font-size: 58px;
  text-transform: uppercase;
  transition: font-size 125ms ease-in-out;
}

@media (max-width: 1580px) {
  .title {
    font-size: 60px;
    right: 30px;
  }
  .table {
    margin-right: -10px;
  }
}
@media (max-width: 1515px) {
  .title {
    font-size: 60px;
  }
  .table {
    margin-right: 0px;
  }
}
@media (max-width: 1380px) {
  .vertical {
    font-size: 58px;
    padding-top: 18px;
    padding-bottom: 22px;
  }

  .title {
    font-size: 60px;
  }

  .subtitle {
    font-size: 52px;
  }
  .table {
    margin-right: -50px;
  }
}

@media (max-width: 1280px) {
  .vertical {
    font-size: 50px;
    padding-top: 16px;
    padding-bottom: 20px;
  }

  .title {
    font-size: 56px;
  }

  .subtitle {
    font-size: 46px;
  }
}

@media (max-width: 1180px) {
  .vertical {
    font-size: 42px;
    padding-top: 14px;
    padding-bottom: 16px;
  }

  .title {
    font-size: 46px;
  }

  .subtitle {
    font-size: 40px;
  }
}

@media (max-width: 1080px) {
  .vertical {
    font-size: 34px;
    padding-top: 12px;
    padding-bottom: 14px;
  }

  .title {
    font-size: 36px;
  }

  .subtitle {
    font-size: 34px;
  }
}

@media (max-width: 600px) {
  .vertical {
    font-size: 21px;
  }

  .title {
    font-size: 21px;
  }

  .subtitle {
    font-size: 20px;
  }
}

@media (max-width: 500px) {
  .vertical {
    font-size: 21px;
  }

  .title {
    font-size: 23px;
  }

  .subtitle {
    font-size: 22px;
  }
}

@media (width: 360px) and (height: 740px) {
  .table {
    bottom: 20px;
    margin-right: -70px;
    margin-top: 175px;
  }
  .title {
    font-size: 20px;
  }
  .subtitle {
    font-size: 19px;
  }
}

@media (max-width: 465px) {
  .vertical {
    font-size: 19px;
  }

  .title {
    font-size: 20px;
  }

  .subtitle {
    font-size: 21px;
  }
}
